@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: white;
  min-height: -webkit-fill-available;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: calc(1440px - (90px));
	margin: 0 auto;
	padding-left: 45px;
	padding-right: 45px;
}


html {
  height: -webkit-fill-available;
}



.custom {
	box-shadow: -2.53px 5.91px 7.34px 0px #00000012;}
